body {
	font-family: 'Roboto';
}

.background {
	/*background: linear-gradient(to bottom right, #3A96A1, #40629B, #5B325A);*/
	  /*background: linear-gradient(135deg, rgba(38,125,132,1) 0%, rgba(48,68,154,1) 37%, rgba(48,68,154,1) 64%, rgba(98,52,93,1) 100%);*/
	  height: 100%;
	  background-color: rgba(0,0,0,0.8);
}

.half-width {
	width: 50%;
}

.temporary {
	padding: 250px;
}

.white {
	color: #FFF;
}

p, h1, h2, h3, h4 {
	color: #FFF;
}

.material-ui-table-fix {
/*	width: 100%;
	padding-top: 5px !important;
	padding-bottom: 5px !important;*/
/*	padding-left: 35px !important;
	padding-right: 35px !important;*/
}

.material-ui-table-parent-fix {
/*	display: flex;
	align-items: baseline;*/
}